body {
  color: lemonchiffon;
  background-image: linear-gradient(to bottom, rgb(128, 151, 208), grey);
}
a {
  outline: none;
  text-decoration: none;
}
a:link {
  color: rgb(73, 108, 173);
}
a:visited {
  color: rgb(255, 248, 118);
}
.barra {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.339);
  border-radius: 30px;
  padding: 10px;
  gap: 5px;
}
.apartado {
  background: rgba(40, 31, 31, 0.337);
  border-radius: 20px;
  width: 80px;
  height: 40px;
  gap: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  font-family: "Yeseva One", "serif";
  font-size: 20px;
  color: darkslateblue;
  display: flex;
  border-style: double;
  padding: 1px;
  margin: 15px;
  border-width: 8px;
  border-radius: 5px;
  border-color: bisque;
  background-color: powderblue;
  justify-content: center;
}
main {
  font-family: "Ubuntu", "sans-serif";
  padding: 10px;
}

article {
  padding: 15px;
}
article > h2 {
  color: cornsilk;
}
h3 {
  color: darkslateblue;
}

.mis_tareas > ul {
  list-style: square;
}
#finished {
  color: crimson;
}
#muahaha strong {
  color: rebeccapurple;
}
.thanks span {
  background-color: rgba(167, 88, 164, 0.741);
  padding: 10px;
  border-radius: 80%;
}
.thanks img {
  border-radius: 100%;
}

section {
  padding: 15px;
}
section form.task {
  display: flex;
  font-family: inherit;
  align-items: center;
  gap: 5px;
}
#nom {
  border: 2px solid black;
  background-color: lemonchiffon;
  border-radius: 5px;
  padding: 10px;
  align-self: center;
  color: black;
}

footer {
  display: flex;
  justify-content: space-around;
}
.pie.dos {
  background-image: linear-gradient(to left, black, rgb(183, 35, 107));
  padding: 10px;
  border-radius: 100%;
  font-family: "Yeseva", "serif";
}
